.starting {
    background-image: url(../images/1ecccd50-34bd-4579-8876-1183adad0e7b_37.jpg);
    background-size:cover;
    background-position:center;
    height: 500px;
}

.starting1 {
    background-image: url(.../images/m5rpadjfv50eyolofmfk.jpg);
    background-size:cover;
    background-position:center;
    height: 500px;
}

.starting2 {
    background-image: url(.../images/Modern_BelindaMarshall-5a70f329ff1b780037f0c5db.jpg);
    background-size:cover;
    background-position:center;
    height: 500px;
}

.getStarted {
    text-align: center;
    font-size: large;
    color: whitesmoke;
    text-shadow: rgb(141, 109, 141) 2px 2px;
}


.getStarted h1 {
    font-weight: 800;
}

.getStarted p {
    font-weight: 600;
}

.card-deck {    
    padding-left: 60px;
    padding-right: 60px;
}

.homeMenu {
    justify-content: flex-end;
}

.navbar-brand{
    color: whitesmoke;
}

.info1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}
    

.info1 div {
    flex: none;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}

footer {
    bottom:0px;
    width:100%;
    background: rgb(141, 109, 141);
}

footer a {
    color: white;
}

footer a:hover {
    color: whitesmoke;
}